@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.full-page {
  width: 100%;
  min-height: 100vh;
  background-color: #1a1a1a; /* Fondo oscuro para toda la página */
  padding: 20px; /* Añade padding alrededor del contenido */
}

.bg-dark {
  background-color: #1a1a1a !important; /* Fondo oscuro */
}

.text-neon-green {
  color: #39ff14 !important; /* Color verde neón */
  font-family: 'Orbitron', sans-serif; /* Fuente de estilo gaming */
  font-weight: bold;
}

.border-neon-green {
  border-color: #39ff14 !important; /* Borde verde neón */
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif; /* Fuente de estilo gaming */
}

.card-title, .card-text, .card-body {
  color: #39ff14 !important; /* Color verde neón */
}

.text-center {
  color: #39ff14 !important; /* Color verde neón */
}
