@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.full-page {
  width: 100%;
  min-height: 100vh;
  background-color: #1a1a1a; /* Fondo oscuro para toda la página */
  padding: 20px; /* Añade padding alrededor del contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-neon-green {
  color: #39ff14 !important; /* Color verde neón */
  font-family: 'Orbitron', sans-serif; /* Fuente de estilo gaming */
  font-weight: bold;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif; /* Fuente de estilo gaming */
}

.table {
  color: #39ff14 !important; /* Color verde neón para el texto de la tabla */
}

.spinner-border {
  color: #39ff14 !important; /* Color verde neón para el spinner */
}
