.navbar {
    background-color: #ffffff; /* Color de fondo */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 0 20px; /* Espaciado interno */
  }
  
  .navbar-brand {
    font-weight: bold; /* Negrita */
    font-size: 1.5rem; /* Tamaño de fuente */
  }
  
  .nav-link {
    color: #343a40 !important; /* Color del enlace */
  }
  
  .nav-link:hover {
    color: #007bff !important; /* Color del enlace al pasar el mouse */
  }
  
  .navbar-text {
    margin-right: 20px; /* Espaciado a la derecha */
  }